body{

    font-family:
        Inter,
        Helvetica,
        Arial,
        sans-serif;

    color:var(--gray-900);

    line-height:1.7;

}

h1{

    font-size:3.2rem;

    font-weight:800;

}

h2{

    font-size:2.4rem;

}

h3{

    font-size:1.8rem;

}
